<template>
  <div>
    <b-container class="mt-5">
      <b-row>
        <b-col cols="6">
          <h1>Line messaging API</h1>

          <h4>Please add Line account</h4>

          <b-img src="https://qr-official.line.me/sid/L/726yjsll.png"></b-img>
          <p>Line Bot ID: @726yjsll</p>

          <h4>Bot can answer</h4>
          <p class="mb-0">message exact word: "ดีจ้า", "สวัสดี"</p>
          <p class="mb-0">message contain: "แมว"</p>
        </b-col>
        <!-- <b-col cols="6">
          <h4>Line notification</h4>
        </b-col> -->
      </b-row>
    </b-container>
  </div>
</template>
